@font-face {
    font-family: 'Font';
    src: url('fonts/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: rgb(0, 31, 82);
    margin: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.dark-theme {
    background: rgb(0, 12, 31);
}

header {
    height: 50px;
    border-radius: 0 0 15px 15px;
    background: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

body.dark-theme header {
    background: rgb(0, 31, 82);
}

.header-menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    flex-grow: 1;
    justify-content: space-between;
}

.header-menu li {
    margin: 0;
}

.theme-changer {
    margin-left: 60px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.theme-changer:hover {
    transform: scale(1.1);
}

.theme-changer:active {
    transform: scale(0.95);
}

.header-menu a {
    color: rgb(0, 31, 82);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Font';
    transition: color 0.3s;
}

body.dark-theme .header-menu a {
    color: rgb(255, 255, 255);
}

.header-menu a:hover {
    color: rgb(255, 179, 102);
}

body.dark-theme .header-menu a:hover {
    color: rgb(255, 179, 102);
}

.button-menu {
    font-family: 'Font';
    font-size: 23px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    margin-right: 25px;
    margin-left: 15px;
    color: rgb(0, 31, 82);
    transition: background-color 0.3s, transform 0.3s;
}

.end-href {
    margin-right: 80px;
}

.button-menu:hover {
    background: rgb(255, 179, 102);
    transform: scale(1.1);
}

body.dark-theme .button-menu {
    background: rgb(0, 31, 82);
    color: rgb(255, 255, 255);
}

body.dark-theme .button-menu:hover {
    background: rgb(255, 179, 102);
    transform: scale(1.1);
}

.background-img {
    margin-top: -50px;
    margin-bottom: -50px;
    display: block;
    position: relative;
    z-index: 1;
    min-height: 675px;
}

.background-img img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-img.active {
    opacity: 1;
    z-index: 2;
}

.dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: rgb(255, 255, 255);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;

    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease;

    z-index: 101;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


.dropdown-menu-head {
    padding-left: 1.7rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Font';
    font-size: 20px;
    color: rgb(0, 31, 82);
    border-bottom: 2px solid rgb(255, 179, 102);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.dropdown-menu-title {
    margin-top: 10px;
}

body.dark-theme .dropdown-menu-title {
    color: rgb(255, 255, 255);
}

.button-close {
    font-family: 'Font';
    font-size: 20px;
    height: 35px;
    cursor: pointer;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(0, 31, 82);
    transition: all 0.3s;
    margin-top: 2px;
}

.button-close:hover {
    background: rgb(255, 179, 102);
    transform: scale(1.1);
}

.button-close:active {
    transform: scale(0.9);
}

body.dark-theme .button-close {
    background: rgb(0, 31, 82);
    color: rgb(255, 255, 255);
}

body.dark-theme .button-close:hover {
    background: rgb(255, 179, 102);
    transform: scale(1.1);
}

.dropdown-menu a {
    display: block;
    padding: 15px 25px;
    color: rgb(0, 31, 82);
    text-decoration: none;
    font-family: 'Font';
    font-size: 18px;
    border-bottom: 1px solid rgb(230, 230, 230);
    transition: all 0.3s;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    padding-left: 35px;
}

body.dark-theme .dropdown-menu {
    background: rgb(0, 31, 82);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.5);
}

body.dark-theme .dropdown-menu a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(50, 50, 60);
}

main {
    flex-grow: 1;
}

.content {
    min-height: 400px;
    background: white;
    border-radius: 80px 80px 0 0;
    position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

body.dark-theme .content {
    background: rgb(0, 31, 82);
}

.content p {
    color: rgb(255, 179, 102);
    font-size: 40px;
    font-family: 'Font';
}

.content-text p {
    color: rgb(0, 31, 82);
    font-size: 20px;
    font-family: 'Font';
    text-align: left;
    margin-left: 3rem;
}

.content img {
    width: 50%;
    display: block;
    height: auto;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 40px;
}

body.dark-theme .content-text p {
    color: rgb(255, 255, 255);
}

.content-text a {
    color: rgb(255, 179, 102)
}

.calculator_container {
    width: 245px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.my-btn {
    margin-right: 5px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: rgb(44, 117, 255);
    color: white;
    font-size: 1.5rem;
    font-family: 'Font';
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

body.dark-theme .my-btn {
    background: rgb(20, 80, 180);
    transition: all 0.3s ease;
}

.my-btn:hover {
    transform: scale(1.1);
    background: rgb(168, 216, 255);
}

.my-btn:active {
    transform: scale(0.9);
}

body.dark-theme .my-btn:hover {
    transform: scale(1.1);
    background: rgb(100, 150, 220)
}

body.dark-theme .my-btn:active {
    transform: scale(0.9);
}

.my-btn.primary {
  background: rgb(255, 179, 102);
}

body.dark-theme .my-btn.primary {
  background: rgb(230, 140, 50)
}

.my-btn.secondary {
  background: rgb(168, 216, 255);
}

body.dark-theme  .my-btn.secondary {
  background: rgb(100, 150, 220)
}

.my-btn.execute {
  width: 110px;
  border-radius: 34px;
}

.result {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 10px;
  padding-top: 15px;
  margin-left: 10px;
  background: rgb(168, 216, 255);
  border-radius: 0 0 30px 30px;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-family: 'Font';
}

body.dark-theme .result {
  background: rgb(100, 150, 220)
}

.history {
  width: 200px;
  height: 25px;
  padding-right: 15px;
  padding-left: 10px;
  padding-top: 15px;
  margin-left: 10px;
  background: rgb(168, 216, 255);
  opacity: 40%;
  border-radius: 30px 30px 0 0;
  border-bottom: 1px solid white;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-family: 'Font';
}

body.dark-theme .history {
  background: rgb(100, 150, 220)
}


.logo {
    margin-left: 25px;
    margin-right: 40px;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.1);
}

footer {
    height: 220px;
    background: rgb(0, 12, 31);
}

.footer-content{
    margin-top: 2rem;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.footer-content ul {
    list-style: none;
    margin-right: 3rem;
}

.footer-content li {
    margin-bottom: 1rem;
    text-align: right
}

.footer-content a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Font';
    transition: color 0.3s;
}

.footer-content a:hover {
    color: rgb(255, 179, 102);
}

.routes h1{
    color: rgb(0, 31, 82);
    font-size: 50px;
    text-align: center;
    font-family: 'Font';
    padding-top: 120px;
}

.card.text-bg-dark.text-end {
    width: 420px;
    height: 300px;
    font-family: 'Font';
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 20px; 
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px !important;
}

.product {
    font-family: 'Font';
}

.card-text,
.card-title {
    font-family: 'Font';
}

.btn.btn-primary.back-button{
    font-family: 'Font';
    background-color:rgb(230, 140, 50);
    border: none;
    transition: all 0.2s ease;
}

.btn.btn-primary.btn-about {
    background-color:rgb(230, 140, 50);
    border: none;
    transition: all 0.2s ease;
}

.btn.btn-primary.back-button:hover,
.btn.btn-primary.back-button:focus,
.btn.btn-primary.back-button:active,
.btn.btn-primary.btn-about:hover,
.btn.btn-primary.btn-about:active,
.btn.btn-primary.btn-about.focus,
.btn.btn-primary.back-button.active {
    background-color: rgb(230, 140, 50) !important;
    border-color: rgb(230, 140, 50) !important;
    box-shadow: none !important;      
    color: #fff !important;
}

.btn.btn-primary.back-button:hover {
    transform: scale(1.1);
}

.btn.btn-primary.back-button:active {
    transform: scale(0.9) !important;
}

.btn.btn-primary.btn-about:hover {
    transform: scale(1.05);
}

.btn.btn-primary.btn-about:active {
    transform: scale(0.9) !important;
}

.btn-group {
    font-family: 'Font';
}

.card-img-overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.d-block.mx-auto{
    width:100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    border-radius: 8px;
    padding: 1.5rem;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    font-family: 'Font';
}

.carousel-caption p{
    padding-bottom: 1.5rem;
}